/* Set the size of the div element that contains the map */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color:white;
  background-color:white;
  background-image:url('/static/img/banc.jpg');
  background-size: cover;
}

a:link
{
 text-decoration:none;
}

/* For the Google Map */
.map {
    height: 200px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

header{
    height : 10%;
}
#title{
  position:absolute;
  z-index: 2;
}
#main_content{
    height : 85%;
}

#listMsg{
    height : 90%;
    background-color: rgba(0, 0, 0, 0.7);
}

#question {
    float : right;
}

#mr {
    text-align : right;
}

/* For the loader animation */
#xbs_loader
{
	width: 50px;
	height: 50px;
	border: 8px solid #FF33E6;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
	position : absolute;
	right : 5%;
	top : 1%;
	z-index: 1;
}

#xbs_loader
{
	animation: spin 1s linear infinite;
}

@keyframes spin
{
	from { transform: rotate(0deg);   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}

