{% extends "base.html" %}

{% block app_content %}
<h1>Coucou, {{ user.username }}!</h1>
{% for post in posts %}
<div><p>{{ post.author.username }} : <b>{{ post.body }}</b></p></div>
{% endfor %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.message(size=40) }}<br>
        {% for error in form.message.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit(size=40) }}
    </p>
</form>
{% endblock %}